/* =============
    Navigation
============= */

header{
  background-color: white;
  >div{
    section{
     &:nth-child(1){
       img{
         width: 60px;
         height: 30px;
       }
     }
    }
  }
}

#off-canvas-container{
    /* -------------
        Here are the properties you can changes for the off-canvas navigation-slide
    ------------- */

    grid-template-columns: 10px auto;
    grid-template-areas: ". off-canvas";
    background-color: white;
    // padding-top: 20px;

    // width of the off canvas navigation
    width: 30vw;
    min-width: 280px;
    max-width: 400px;
    background-color: $primary;


    /* close btn */
    aside{
      width: 100%;
      display: flex;
      justify-content: flex-end;
      button {
          margin-left: -10px;
          background-color: transparent;
          border: none;
          color: black;
          cursor: pointer;
          font-size: rem-calc(25);
          margin-bottom: 20px;
          transition: 0.25s;
      }
    }


    /* close btn */
    button:hover {
        color: $primary;
    }
    nav{



      ul {

          li {
              color: black;
              text-align: left;
              width: 100%;

              >form{
                display: flex;
                justify-content: left;
                >button{
                  width: 40px;
                  height: 40px;
                  background-color: black;
                  color: white;
                  font-size: rem-calc(18px);
                  border: none;

                  &:hover, &:active{
                    background-color: $accent;
                  }
                }
                >input{
                  padding: 8px 5px 5px 4px;
                  border: none;
                  width: 70%;
                  &:focus{
                    box-shadow: none;

                  }
                }


              }


              a:link,
              a:visited {
                width: calc(100% - 10px);
                display: inline-block;
                padding-bottom: 5vh;
                padding-top: 5vh;
                border-bottom: 2px solid black;
                color: black;
                font-size: rem-calc(25px);
                font-family: realist, sans-serif;
                font-weight: 600;

              }

              a:active,
              a:hover {
                  color: $accent;
              }
          }
      }

    }


}
