/* =============
    Hero
============== */
#hero {
  position: relative;
  z-index: 50;

  article {
    color: white;
    margin: auto 5%;
    text-align: center;

    h1 {
      font-family: realist, sans-serif;
      font-size: rem-calc(21px);
      font-weight: 600;
      @include sm {
        font-size: rem-calc(24px);
      }
      @include md {
        font-size: rem-calc(35px);
      }
      @include lg {
        font-size: rem-calc(40px);
      }
      @include xl {
        font-size: rem-calc(55px);
        max-width: 900px;
      }

      span {
        color: $primary;
      }
    }

    p {
      font-weight: 300;
      margin-top: rem-calc(5px);
      @include sm {
        font-size: rem-calc(17px);
      }
      @include md {
        font-size: rem-calc(18px);
      }
      @include lg {
        font-size: rem-calc(19px);
      }
      @include xl {
        font-size: rem-calc(20px);
      }
    }
  }

  > div {
    @include md {
      display: grid;
      grid-template-columns: 20px auto 20px;
    }
    @include lg {
      grid-template-columns: auto 90% auto;
    }
    @include xl {
      grid-template-columns: auto 90% auto;
    }

    > div {
      align-items: center;
      display: flex;
      height: 100vh;
      justify-content: center;
      position: relative;
      width: 100%;
      // background-color: grey;
      @include md {
        grid-column: 2 / 3;
        height: 650px;
      }
      @include lg {
        height: 85vh;
      }
      @include xl {
        height: 85vh;
      }
    }
  }
}
