/* =============
    Join
============= */
#join {
  margin-top: 150px;
  overflow-x: hidden;
  padding-bottom: 60px;
  @include sm {
    display: grid;
    grid-template-columns: auto 550px auto;
  }
  @include md {
    display: grid;
    grid-template-columns: auto 90% auto;
  }
  @include lg {
    display: grid;
    grid-template-columns: auto 800px auto;
    margin-top: 300px;
  }

  .main-content {
    -moz-box-shadow: -4px 32px 40px -20px $shadow;
    -webkit-box-shadow: -4px 32px 40px -20px $shadow;
    box-shadow: -4px 32px 40px -20px $shadow;
    padding-top: 60px;
    @include sm {
      border-radius: 30px;
      grid-column: 2 / 3;
      padding-bottom: 60px;
    }
    @include md {
      padding-bottom: 100px;
    }

    > article {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;

      h1 {
        font-family: realist, sans-serif;
        @include md {
          font-size: rem-calc(76px);
        }
      }

      p {
        font-weight: 100;
        line-height: 27px;
        max-width: 300px;
      }
    }

    ul {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: repeat(4,auto);
      margin-top: 50px;
      @include md {
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,auto);
      }

      .join-text {
        margin-bottom: 60px;

        h1 {
          font-family: realist, sans-serif;
          font-size: rem-calc(28px);
          font-weight: 600;
        }

        p {
          font-weight: 100;
          line-height: 27px;
          max-width: 320px;
        }

        nav {
          a {
            background-color: $primary;
            border-radius: 35px;
            color: white;
            display: inline-block;
            font-size: rem-calc(16px);
            font-weight: 600;
            margin-top: 20px;
            padding: 10px 20px;
          }
        }
      }

      .join-img {
        display: flex;
        justify-content: center;
        position: relative;
        z-index: 3;
        @include md {
          mix-blend-mode: multiply;
        }

        .img {
          background-position: center;
          background-repeat: no-repeat;
          background-size: 300px;
          @include md {
            background-size: 450px;
          }
        }

        .circles {
          background-color: $primary;
          border-radius: 100%;
          display: block;
          height: 140vw;
          max-height: 380px;
          max-width: 380px;
          pointer-events: none;
          position: absolute;
          top: 15%;
          width: 140vw;
          z-index: -1;
          @include md {
            height: 660px;
            max-height: none;
            max-width: none;
            top: 0;
            width: 660px;
          }
        }
      }

      .wavy {
        pointer-events: none;
        position: relative;
        width: 100%;

        > div {
          background-image: url("../img/Home/Join/wavy.svg");
          background-repeat: no-repeat;
          position: absolute;
        }
      }

      > li {
        grid-column: 1 / 2;

        &:nth-child(1) {
          direction: rtl;
          padding-right: 20px;
          text-align: right;
          @include md {
            align-items: center;
            display: flex;
            grid-column: 2 / 3;
            grid-row: 1 / 2;
            justify-content: center;
          }
        }

        &:nth-child(2) {
          padding-left: 20px;
          @include md {
            align-items: center;
            display: flex;
            grid-row: 2 / 3;
            justify-content: center;
          }
        }

        &:nth-child(3) {
          grid-row: 1 / 2;

          .img {
            background-image: url("../img/Home/Join/join-teacher.png");
            height: 560px;
            width: 100%;
            @include md {
              height: 700px;
              margin-left: -100px;
              width: 150%;
            }
          }

          .circles {
            @include md {
              margin-left: -260px;
            }
          }
        }

        &:nth-child(4) {
          grid-row: 3 / 4;
          @include md {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
          }

          .circles {
            @include md {
              margin-right: -180px;
              right: 0;
            }
          }

          .img {
            background-image: url("../img/Home/Join/join-student.png");
            height: 460px;
            width: 100%;
            @include md {
              height: 700px;
              margin-right: -50px;
              width: 150%;
            }
          }
        }

        &:nth-child(5) {
          grid-column: 1 / 2;
          grid-row: 3 / 4;
          @include md {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
          }

          > div {
            height: 20px;
            top: -20px;
            width: 150px;
            @include sm {
              margin-left: -40px;
            }
            @include md {
              height: 50px;
              margin-right: -80px;
              right: 0;
              top: 20%;
              width: 250px;
            }
          }
        }

        &:nth-child(6) {
          grid-column: 1 / 2;
          grid-row: 5 / 6;
          @include md {
            grid-row: 2 / 3;
          }

          > div {
            bottom: 0;
            height: 40px;
            margin-right: -25px;
            right: 0;
            width: 200px;
            @include md {
              bottom: 10%;
              left: 0;
              margin-left: -50px;
              right: auto;
            }
          }
        }
      }
    }
  }
}
