/* =============
    Vision
============== */
#vision {
  // top: 600px;
  // height: 1400px;
  padding-top: 150px;
  position: relative;
  z-index: 2;
  @include md {
    margin-top: -450px;
    z-index: -5;
  }

  .quote {
    height: 100%;
    position: absolute;
    width: 100%;
    @include md {
      height: 500px;
      width: 90%;
    }

    .expanded-quote {
      @include md {
        &::before {
          left: 10%;
          top: 3%;
        }

        &::after {
          bottom: 10%;
          right: 10%;
        }
      }
    }

    > div {
      height: 100%;
      mix-blend-mode: multiply;
      position: relative;
      transition: 1s;
      transition-timing-function: ease-in-out;
      width: 100%;

      &::before {
        background-image: url("../img/Home/About/quote.svg");
        background-repeat: no-repeat;
        background-size: contain;
        content: '';
        display: block;
        height: 60px;
        left: 20px;
        position: absolute;
        top: 60px;
        transform: scaleX(-1);
        transition: 1s;
        transition-timing-function: ease-in-out;
        width: 80px;
        @include md {
          left: 45%;
          margin-left: -40px;
          margin-top: -30px;
          top: 45%;
        }
      }

      &::after {
        background-image: url("../img/Home/About/quote.svg");
        background-repeat: no-repeat;
        background-size: contain;
        bottom: 40px;
        content: '';
        display: block;
        height: 60px;
        position: absolute;
        right: 20px;
        transition: 1s;
        transition-timing-function: ease-in-out;
        width: 80px;
        @include md {
          bottom: 45%;
          margin-bottom: -30px;
          margin-right: -40px;
          right: 45%;
        }
      }
    }
  }

  .wavy {
    height: 110%;
    position: absolute;
    width: 100%;
    // background-color: red;
    // opacity: 0.5;
    @include md {
      height: 800px;
    }

    > div {
      height: 110%;
      overflow-x: hidden;
      overflow-y: visible;
      position: relative;
      width: 100%;

      &::before {
        background-image: url("../img/Home/About/wavy.svg");
        background-repeat: no-repeat;
        background-size: cover;
        content: '';
        display: block;
        height: 240px;
        margin-right: 50px;
        margin-top: -100px;
        position: absolute;
        right: 0;
        top: 0;
        transform: rotate(90deg);
        width: 35px;
        @include md {
          background-size: contain;
          height: 400px;
          margin-top: -100px;
          right: 80px;
          width: 100px;
        }
      }

      &::after {
        background-image: url("../img/Home/About/wavy.svg");
        background-repeat: no-repeat;
        background-size: contain;
        bottom: 70px;
        content: '';
        display: block;
        height: 180px;
        left: 10vw;
        position: absolute;
        width: 40px;
        @include md {
          bottom: 0;
          height: 240px;
          left: 15vw;
          width: 60px;
        }
      }
    }
  }

  .main-content {
    -moz-box-shadow: 6px 8px 7px -5px $shadow;
    -webkit-box-shadow: 6px 8px 7px -5px $shadow;
    align-items: center;
    background-color: white;
    box-shadow: 6px 8px 7px -5px $shadow;
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
    margin-top: 70px;
    padding: 25px 25px 70px;
    @include md {
      border-bottom-right-radius: 50px;
      padding-top: 300px;
      width: 85%;
    }

    > article {
      max-width: 400px;
      @include md {
        margin-top: 80px;
        max-width: 600px;
        opacity: 0;
        padding-bottom: 80px;
      }
    }

    p {
      font-size: rem-calc(28px);
      font-weight: 100;
      line-height: 38px;
      @include md {
        font-size: rem-calc(35px);
        line-height: 50px;

        span {
          font-family: realist, sans-serif;
          font-size: rem-calc(30px);
          font-weight: 600;
          @include md {
            font-size: rem-calc(36px);
          }
        }
      }
    }

    h3 {
      font-family: realist, sans-serif;
      font-weight: 800;
      letter-spacing: 4px;
      margin-bottom: 10px;
    }
  }
}
